table {
  border-collapse: collapse;
}

th, td {
  text-align: center;
  padding: 1px;
  border-right: solid #d8d8d8;
  border-left: solid #d8d8d8;
  border-top: solid #d8d8d8;
  border-bottom: solid #d8d8d8;
}

td {
  height: 110%;
  width: 1%;
}

table tbody tr:nth-child(even) {
  background-color: #f2f2f2
}

table thead {
  background-color: #4286f4;
  color: white;
}
